@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #eeeeee;
}

.side-navbar {
  background: #FFFFFF;
  margin: 0px;
  height: 100vh;
  position: fixed;
}

.navbar-button {
  margin:2px;
  width:98%;
  box-shadow:none !important;
}

.card {
  box-shadow:none !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.card-image {
  background: grey !important;
}

.brand-logo {
  margin-left:3.5%;
}

.section-card-title {
  background: #bdbdbd;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: 5px;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
}