@import url('https://fonts.googleapis.com/css?family=Poppins');
@font-face {
  font-family:'Slim Joe';
  src:font-url('slim_joe.otf') format('opentype');
}

$primary-color: #F05A28;
$secondary-color: #FF9999;
$accent-color: #EE4036;
$grey: #e0e0e0;
$light-grey: #f5f5f5;
$dark-grey: #212121;
$header-font: Slim Joe;

@mixin gradient {
  background: $primary-color !important;
  background: -webkit-linear-gradient(left, $primary-color , $accent-color) !important;
  background: -o-linear-gradient(right, $primary-color, $accent-color) !important;
  background: -moz-linear-gradient(right, $primary-color, $accent-color) !important;
  background: linear-gradient(to right, $primary-color , $accent-color) !important;
}

body {
  background: $grey;
  font-family: Poppins;
}

.side-navbar {
  @include gradient;
  margin: 0px;
  height: 100vh;
  position: fixed;
}

.navbar-button {
  @include gradient;
  margin: 0;
  padding: 20px 10px;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid $light-grey;
}

.navbar-button:hover {
  background: rgba(0,0,0,0.2) !important;
}

.nav-wrapper {
  @include gradient;
}

.card {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.table-card {
  max-height: 300px;
  min-height: 300px;
  overflow: scroll;
}

.brand-logo {
  margin-left: 15px;
  margin-top: 5px;
  font-family: $header-font, sans-serif;
  font-size: 2.1rem !important;
  font-weight: bold;
}

.section-card-title {
  @include gradient;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: 10px;
  font-family: $header-font, sans-serif;
  font-weight: bold;
  color: #fff;
}

.collapsible-body {
  color: #fff;
}

.collapsible li {
  @include gradient;
}

.card-title {
  font-size: 1.3rem !important;
  text-transform: uppercase !important;
}

.card-panel {
  background: #fff !important;
  color: $dark-grey !important;
  max-height: 135px;
  min-height: 135px;
  overflow: scroll;
}

.card-panel:hover {
  background: $secondary-color !important;
  color: #fff !important;
}