body {
  background: #eeeeee;
}

.side-navbar {
  background: #FFFFFF;
  margin: 0px;
  height: 100vh;
  position: fixed;
}

.navbar-button {
  margin:2px;
  width:98%;
  box-shadow:none !important;
}

.card {
  box-shadow:none !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.brand-logo {
  margin-left:3.5%;
}