<table class="bordered highlight striped responsive-table table-rows">
  <thead>
    <tr>
        <th data-field="product_name">Product Name</th>
        <th data-field="product_number">Product Number</th>
        <th data-field="product_number">Visits</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.product_name, "/product_charts/#{product.id}" %></td>
        <td><%= product.product_number %></td>
        <td><%= product.visits.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>