<% @products.each do |product| %>
  <table>
    <tr>
      <td>
        <%= product.product_number %>
      </td>
      <td>
        <%= product.product_name %>
      </td>
    </tr>
  </table>
<% end %>